@import './_variables';

.center{
  max-width: 1204px;
  margin: auto;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* global ends */


